# Default ignored files
/../../food-delivery-core-service /.idea/shelf/
/../../food-delivery-core-service /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../food-delivery-core-service /.idea/httpRequests/
# Datasource local storage ignored files
/../../food-delivery-core-service /.idea/dataSources/
/../../food-delivery-core-service /.idea/dataSources.local.xml
